---
import BtnBasic from '@/components/component/BtnBasic.astro';
import Img from '@/components/component/Img.astro';
import Pic from '@/components/component/Pic.astro';
import SvgSprite from '@/components/component/SvgSprite.astro';
import { imgDir } from '@root/project.config';
---

<div class="p-kv">
  <Img
    src={`${imgDir}/1.jpg`}
    pictureProps={{ class: 'p-kv__picture' }}
    class="p-kv__picture-img"
  />
  <Pic
    srcPc={`${imgDir}/8.jpg`}
    srcSp={`${imgDir}/1.jpg`}
    pictureProps={{ class: 'p-kv__picture' }}
    imageProps={{ class: 'p-kv__picture-img' }}
  />
  <p class="p-kv__sprite">
    <span class="p-kv__sprite-text">SVG Sprite</span>
    <SvgSprite hash="logo-youtube" class="p-kv__sprite-icon" />
  </p>
  <BtnBasic text="Button component" anchor={{ href: '#' }} target={true} addClass="p-kv__button" />
  <p class="p-kv__svg">Background SVG</p>
</div>
