---
import BtnBasic from '@/components/component/BtnBasic.astro';
import Img from '@/components/component/Img.astro';
import Pic from '@/components/component/Pic.astro';
import SvgSprite from '@/components/component/SvgSprite.astro';
import { imgDir } from '@root/project.config';
---

<div class="p-kv">
  <p class="u-text-center u-text-lg">Tailwind.css output test.</p>
  <Img
    src={`${imgDir}/1.jpg`}
    pictureProps={{ class: 'p-kv__picture u-block' }}
    class="p-kv__picture-img u-w-full"
  />
  <Pic
    srcPc={`${imgDir}/8.jpg`}
    srcSp={`${imgDir}/1.jpg`}
    pictureProps={{ class: 'pic' }}
    imageProps={{ class: 'img u-w-full' }}
  />
  <SvgSprite hash="logo-youtube" class="p-kv__youtube u-w-[40px]" />
  <BtnBasic anchor={{ href: '#' }} target={true} addClass="u-text-lg" />
</div>
