a {
  -webkit-tap-highlight-color: transparent;
}

strong,
em {
  font-style: normal;
  font-weight: inherit;
}

img {
  height: auto;

  @media (max-resolution: 1.5dppx) {
    /* stylelint-disable-next-line */
    image-rendering: -webkit-optimize-contrast;
  }
}

svg {
  max-width: 100%;
  height: auto;
}

svg,
text,
tspan {
  font-style: normal;
}

fieldset {
  border: none;
}

button {
  cursor: pointer;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

dt {
  font-weight: inherit;
}

summary {
  display: block;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}
