---
import type { HTMLAttributes } from 'astro/types';
import SvgSprite from '@/components/component/SvgSprite.astro';
import { isBlank } from '@/helper/node/utils';
interface Props {
  anchor: Omit<HTMLAttributes<'a'>, 'href'> & {
    href: string;
  };
  text?: string;
  addClass?: string;
  target?: boolean;
}

const { anchor, text = 'details', addClass, target = false } = Astro.props;
const anchorAttr = target ? { ...anchor, ...isBlank(target) } : anchor;
---

<div class:list={['c-btn-basic', addClass]}>
  <a class="c-btn-basic__link" {...anchorAttr}>
    <span class="c-btn-basic__text">{text}</span>
    <SvgSprite hash="logo-x" class="c-btn-basic__icon u-w-[40px]" />
  </a>
</div>
