@use 'sass:math';
@use '../../setting/variable' as var;
@use '../../tool/function' as func;
@use '../../tool/mixin' as mixin;
@use 'sass:list';

.p-header {
  padding: func.cv-rem(20);
  font-size: func.cv-rem(20);
  color: var.$c-white;
  text-align: center;
  background-color: rgb(var.$c-black, 90%);
}
