@use 'sass:math';
@use '../../setting/variable' as var;
@use '../../tool/function' as func;
@use '../../tool/mixin' as mixin;
@use 'sass:list';

.p-kv {
  display: grid;
  gap: func.cv-rem(20);
  place-items: center;
}

.p-kv__svg {
  font-size: func.cv-rem(20);

  &::after {
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    margin-left: 0.4em;
    content: '';
    background-color: #0866ff;
    mask-image: var.$svg-logo-facebook;
  }
}
