@use 'sass:math';
@use '../../setting/variable' as var;
@use '../../tool/function' as func;
@use '../../tool/mixin' as mixin;
@use 'sass:list';

.p-kv {
  display: grid;
  gap: func.cv-rem(20);
  place-items: center;
}

.p-kv__title {
  padding: func.cv-rem(40) func.cv-rem(20) func.cv-rem(20);
  font-size: func.cv-rem(20);
}

.p-kv__picture {
}

.p-kv__picture-img {
}

.p-kv__sprite {
  font-size: func.cv-rem(20);
}

.p-kv__sprite-icon {
  width: func.cv-rem(28);
  color: #ff0000;
}

.p-kv__button {
  font-size: func.cv-rem(20);
}

.p-kv__svg {
  font-size: func.cv-rem(20);

  &::after {
    display: inline-block;
    width: 1em;
    aspect-ratio: 1 / 1;
    margin-left: 0.4em;
    content: '';
    background-color: #0866ff;
    mask-image: var.$svg-logo-facebook;
    mask-size: cover;
    translate: 0 0.1em;
  }
}
