@use 'sass:math';
@use '../../setting/variable' as var;
@use '../../tool/function' as func;
@use '../../tool/mixin' as mixin;
@use 'sass:list';

.p-kv {
  display: grid;
  gap: func.cv-rem(20);
  place-items: center;
}

.p-kv__picture {
}

.p-kv__picture-img {
}

.p-kv__sprite {
  width: func.cv-rem(40);
}

.p-kv__button {
}

.p-kv__svg {
  font-size: func.cv-rem(20);

  &::after {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.4em;
    content: '';
    background-color: #0866ff;
    mask-image: var.$svg-logo-facebook;
    translate: 0 0.1em;
  }
}
