@use 'sass:math';
@use '../../setting/variable/gutter' as g;
@use '../../setting/variable/breakpoint' as bp;
@use '../../setting/variable/color' as c;
@use '../../tool/function/convert' as cv;

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin centering($direction: all) {
  position: absolute;
  @if $direction == x {
    left: 50%;
    translate: -50% 0;
  } @else if $direction == y {
    top: 50%;
    translate: 0 -50%;
  } @else {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
}
