@use 'sass:math';
@use '../../setting/variable/gutter' as g;
@use '../../setting/variable/width' as w;
@use '../../setting/variable/color' as c;
@use '../../tool/function/convert' as cv;

@mixin flex($wrap: wrap, $justify: flex-start, $align: stretch, $direction: row, $inline: false) {
  @if $inline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  flex-flow: $direction $wrap;
  align-items: $align;
  justify-content: $justify;
}

@mixin flex-center($inline: false) {
  @if $inline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  align-items: center;
  justify-content: center;
}

@mixin centering($direction: all) {
  position: absolute;
  @if $direction == x {
    left: 50%;
    translate: -50% 0;
  } @else if $direction == y {
    top: 50%;
    translate: 0 -50%;
  } @else {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
}

@mixin list($gutter, $direction: horizon, $gutter-ver: 0) {
  @if $direction == horizon {
    margin-right: math.div($gutter, 2) * -1;
    margin-left: math.div($gutter, 2) * -1;

    > * {
      padding-right: math.div($gutter, 2) * 1;
      padding-left: math.div($gutter, 2) * 1;
    }
  } @else if $direction == vertical {
    margin-top: math.div($gutter, 2) * -1;
    margin-bottom: math.div($gutter, 2) * -1;

    > * {
      padding-top: math.div($gutter, 2) * 1;
      padding-bottom: math.div($gutter, 2) * 1;
    }
  } @else if $direction == all {
    @if $gutter-ver == 0 {
      margin: math.div($gutter, 2) * -1;

      > * {
        padding: math.div($gutter, 2) * 1;
      }
    } @else {
      margin: math.div($gutter-ver, 2) * -1 math.div($gutter, 2) * -1;

      > * {
        padding: math.div($gutter-ver, 2) * 1 math.div($gutter, 2) * 1;
      }
    }
  } @else {
    margin-right: math.div($gutter, 2) * -1;
    margin-left: math.div($gutter, 2) * -1;

    > * {
      padding-right: math.div($gutter, 2) * 1;
      padding-left: math.div($gutter, 2) * 1;
    }
  }
}

@mixin side-expand($expand) {
  margin-right: -$expand;
  margin-left: -$expand;
}
