@mixin kerning() {
  font-feature-settings: 'palt', 'vpal';
  font-kerning: normal;
}

@mixin placeholder-color($color) {
  &:placeholder-shown {
    color: $color;
  }

  &::placeholder {
    color: $color;
    opacity: 1;
  }
}
